:root {
  --swiper-pagination-progressbar-size: 5px;
  --swiper-pagination-progressbar-bg-color: hsla(0, 0%, 100%, 0.25);
  --swiper-pagination-color: hsl(288, 54%, 55%);
  --swiper-navigation-color: hsl(210, 17%, 98%);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: hsla(0, 0%, 0%, 0.7);
  border-radius: 10px;
  padding: 0.5rem;
}
